@charset 'UTF-8';

@import "variables";

@import 'base/fonts';
@import 'base/mixins';

// Vendors
@import 'vendor/normalize';
@import 'vendor/font-awesome';

@import "typography";

@import 'base/grid';
@import 'base/helpers';
@import 'base/buttons';
@import 'base/forms';

@import "navigation";
@import "layout";

//Page-specific styles
@import 'pages/home';

@import "footer";