/* Buttons
* ===============
*
* Place all your buttons declarations here */

.btn {
  display: inline-block;
  margin-bottom: 0;
  /* For input.btn*/
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  /* Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214*/
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  position: relative;
  border-radius: $btn-border-radius-base;
  padding: $button-base-vertical $button-base-horizontal;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }
  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: disabled;
    opacity: 0.65;
    box-shadow: none;
  }
}



// Alternate buttons
// --------------------------------------------------
.btn-theme {
  color: $btn-theme-color;
  &:hover {
    background-color: darken($btn-theme-bg, 10%);
    border-color: darken($btn-theme-border, 10%);
  }
}
