/* Custom Grids
* ===============
*
* Define all your custom grid declarations here */

//Preferred: https://github.com/kristoferjoseph/flexboxgrid
.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left:  ceil(($gutter / -2));
  margin-right: floor(($gutter / -2));
}

.col {
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}